@model MyMovies.DomainModel.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Year</div>
    <div class="display-field">@Model.Year</div>

    <div class="display-label">Genre</div>
    <div class="display-field">@Model.Genre</div>

    <div class="display-label">Director</div>
    <div class="display-field">@Model.Director</div>

    <div class="display-label">Actors</div>
    <div class="display-field">@Model.Actors</div>

    <div class="display-label">Image</div>
    <div class="display-field">@Model.Image</div>

    <div class="display-label">Runtime</div>
    <div class="display-field">@Model.Runtime</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

