@model MyMovies.DomainModel.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Year</div>
    <div class="display-field">@Model.Year</div>

    <div class="display-label">Genre</div>
    <div class="display-field">@Model.Genre</div>

</fieldset>
<fieldset>
    <legend>Comments</legend>
    @if (Model.Comments != null) {
        foreach (MyMovies.DomainModel.Comment c in Model.Comments) {
            @Html.Partial("Comment", c)
        }
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

