@using MyMovies.WebApp.Models
@model IndexPresentationModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Get )) {
<fieldset>
    <legend>Filter</legend>
    <span class="editor-label">
        @Html.LabelFor(model => model.Filter.Title)
    </span>
    <span class="editor-field">
        @Html.TextBoxFor(model => model.Filter.Title)
    </span>
    <span class="editor-label">
        @Html.LabelFor(model => model.Filter.Genre)
    </span>
    <span class="editor-field">
        @Html.EditorFor(model => model.Filter.Genre)
    </span>
    <span class="editor-label">
        @Html.LabelFor(model => model.Filter.Year)
    </span>
    <span class="editor-field">
        @Html.EditorFor(model => model.Filter.Year)
    </span>
    <div><input type="submit" value="Filter" /></div>
</fieldset>
    
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Year
        </th>
        <th>
            Genre
        </th>
        <th>
            Director
        </th>
        <th>
            Actors
        </th>
        <th>
            Image
        </th>
        <th>
            Runtime
        </th>
    </tr>

@foreach (var item in Model.Movies) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.Year
        </td>
        <td>
            @item.Genre
        </td>
        <td>
            @item.Director
        </td>
        <td>
            @item.Actors
        </td>
        <td>
            @*<img src="@item.Image" alt="movie image" />*@
            @item.Image
        </td>
        <td>
            @item.Runtime
        </td>
    </tr>
}

</table>

